<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>实名认证</title>
<link rel="stylesheet" href="../js/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../js/jqueryuploadify/css/uploadify.css">  
<script src="../js/jquery/js/jquery-2.2.2.js"></script>
<script src="../js/jqueryuploadify/js/jquery.uploadify.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#file_upload").click(function(){
		alert(1);
	});
	fileUpload("file_upload","uploadfileQueue","pic_view_div1 img","front");
	fileUpload("file_upload_1","uploadfileQueue_1","pic_view_div2 img","back");
	fileUpload("file_upload_2","uploadfileQueue_2","pic_view_div3 img","hand");
});

function fileUpload(fileid,queueid,showimg,sign){
	$("#"+fileid).uploadify({
		//开启调试    
        'debug': false,  
        //是否自动上传    
        'auto': true,  
        'buttonText': '选择照片',  
        //flash    
        'swf': "../js/jqueryuploadify/js/uploadify.swf",  
        'queueSizeLimit': 5,  
        //文件选择后的容器ID    
        'queueID': queueid,  
        //后台运行上传的程序  
        'uploader': '../rest/file/uploadFile?sign='+sign,  
        'width': '75',  
        'height': '24',  
        //是否支持多文件上传，这里为true，你在选择文件的时候，就可以选择多个文件  
        'multi': true,  
        'fileTypeDesc': '支持的格式：',  
        'fileTypeExts': '*.jpg;*.jpge;*.gif;*.png;*.jpeg',  
        'fileSizeLimit': '1MB',  
        //上传完成后多久删除进度条  
        'removeTimeout': 1,  
      //返回一个错误，选择文件的时候触发    
        'onSelectError': function (file, errorCode, errorMsg) {  
            switch (errorCode) {  
                case -100:  
                    alert("上传的文件数量已经超出系统限制的" + $('#'+fileid).uploadify('settings', 'queueSizeLimit') + "个文件！");  
                    break;  
                case -110:  
                    alert("文件 [" + file.name + "] 大小超出系统限制的" + $('#'+fileid).uploadify('settings', 'fileSizeLimit') + "大小！");  
                    break;  
                case -120:  
                    alert("文件 [" + file.name + "] 大小异常！");  
                    break;  
                case -130:  
                    alert("文件 [" + file.name + "] 类型不正确！");  
                    break;  
            }  
        }, 
      //检测FLASH失败调用    
        'onFallback': function () {  
            alert("您未安装FLASH控件，无法上传图片！请安装FLASH控件后再试。");  
        },  
        //上传到服务器，服务器返回相应信息到data里    
        'onUploadSuccess': function (file, data, response) {  
        		var _arr_val = data.split(",");  
        		var url="../upload/"+_arr_val;
        		$("#"+showimg).attr("src",url);
        		$("#"+showimg).css("height","160");
        		$("#"+showimg).css("width","250");
        } 
	});
}
</script>
</head>
<body style="text-align: center; background: #f7f8fa;">
<form id="imageForm" method="post" enctype="multipart/form-data" class="text-center" style="text-align:center;">
	<table id="from_table" border="0"  width="99%">
		<tr>
			<td align="right">姓名：</td>
			<td colspan="2" align="left">	<label>张X三</label></td>
		</tr>
		<tr>
			<td align="right">身份证号码：</td>
			<td colspan="2" align="left"><label>3204123222122223432</label></td>
		</tr>
		<tr>
			<td colspan="2" > 上传身份证正面、背面照片:
			</td>
		</tr >
		<tr>
			<td align="right">
					<div id="pic_view_div1" style="padding:15px;" >  
         				<img  src="../images/1.png" width="300px;" height="180px;" id="pic_view">  
    					</div>
    			</td>
			<td align="left">
					<div id="pic_view_div2" style="padding:15px;" >  
	        			 	<img src="../images/2.png" width="300" height="180" id="pic_view">  
	   		 		</div>
	   		</td>
		</tr>
		<tr>
			<td align="center">
				<div style="padding-left: 55%">
					<div id="uploadfileQueue" ></div>    
	                	<input type="file" id="file_upload" > 
                 </div> 
    			</td>
			<td align="center">
				<div style="padding-right:50%">
					<div id="uploadfileQueue_1" ></div>    
	                	<input type="file" id="file_upload_1" > 
               	</div> 
	    		</td>
		</tr>
		<tr>
		<td colspan="2">上传手持身份证照片:
		</td>
		</tr>
		<tr>
			<td align="right">
					<div id="pic_view_div3"  style="padding:15px;" >  
	        			 	<img src="../images/3.png" width="300" height="180" id="pic_view">  
	   		 		</div>
			</td>
			<td rowspan="2">
				<div style="padding-right:50%">
					注意：手持身份证照片内的证件文字信息<br/>
					必须完整清晰，否则您的认证将<br/>肯定不通过,
					如下图示例：<br/>
					<img alt="" src="../images/u30.png" width="150" height="100">
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center">
	    				<div style="padding-right:23%">
					<div id="uploadfileQueue_2" ></div>    
	                	<input type="file" id="file_upload_2" > 
               	</div> 
	    		</td>
		</tr>
		<tr>
			<td colspan="2">
				  <button type = "button" id="submit" class="btn-info btn-lg btn-primary"  >提交审核</button> 
			</td>
		</tr>
	</table>
</form>
</body>
</html>