<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>实名认证</title>
<link rel="stylesheet" type="text/css" href="../css/uploadify.css">
<link rel="stylesheet" href="../css/buttons.css">
<script src="../js/jquery-2.2.2.js"></script>
<script src="../js/jquery.uploadify.min.js"></script>
</head>
<body style="text-align: center; background: #f7f8fa;">
<form action="" method="post" enctype="multipart/form-data" class="text-center" style="text-align:center;">
	<table id="from_table" border="0"  width="99%">
		<tr>
			<td align="right">姓名：</td>
			<td colspan="2" align="left">张X三</td>
		</tr>
		<tr>
			<td align="right">身份证号码：</td>
			<td colspan="2" align="left">3204123222122223432</td>
		</tr>
		<tr>
			<td colspan="2" > 上传身份证正面、背面照片:
			</td>
		</tr >
		<tr>
			<td align="right">
					<div id="pic_view_div"  >  
         				<img src="../images/1.png" width="300" height="180" id="pic_view">  
    					</div>
    			</td>
			<td align="left">
					<div id="pic_view_div" >  
	        			 	<img src="../images/2.png" width="300" height="180" id="pic_view">  
	   		 		</div>
	   		</td>
		</tr>
		<tr>
			<td align="center">
				<div style="padding-left: 69%">
						<input type="file" name="uploadify" id="uploadify" />   
			    			<input type="hidden" name="photo" id="photo" value="">
				</div>
    			</td>
			<td align="center">
					<div style="padding-right: 35%">
						<input type="file" name="uploadify" id="uploadify" />   
		    				<input type="hidden" name="photo" id="photo" value="">
 					</div>
	    		</td>
		</tr>
		<tr>
		<td colspan="2">上传手持身份证照片:
		</td>
		</tr>
		<tr>
			<td align="right">
					<div id="pic_view_div" >  
	        			 	<img src="../images/3.png" width="300" height="180" id="pic_view">  
	   		 		</div>
			</td>
			<td rowspan="2">
				<div style="padding-right:50%">
					注意：手持身份证照片内的证件文字信息<br/>
					必须完整清晰，否则您的认证将<br/>肯定不通过,
					如下图示例：<br/>
					<img alt="" src="../images/u30.png" width="150" height="100">
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center">
					<div style="padding-right: 14%">
						<input type="file" name="uploadify" id="uploadify" />   
		    				<input type="hidden" name="photo" id="photo" value="">
	    				</div>
	    		</td>
		</tr>
		<tr>
			<td colspan="2">
				<a href="#" class="button button-primary button-rounded button-small">提交审核</a>
			</td>
		</tr>
	</table>
</form>
</body>
</html>